@model KYC.ViewModels.KycFormViewModel
@{
ViewData["Title"] = "Edit KYC";
}
<form asp-action="Create" method="put">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h4>Personal Details</h4>
    <div class="form-group">
        <label asp-for="Member.FirstName"></label>
        <input asp-for="Member.FirstName" class="form-control" />
        <span asp-validation-for="Member.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.LastName"></label>
        <input asp-for="Member.LastName" class="form-control" />
        <span asp-validation-for="Member.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.EmployeeId"></label>
        <input asp-for="Member.EmployeeId" class="form-control" />
        <span asp-validation-for="Member.EmployeeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.DateOfBirth"></label>
        <input asp-for="Member.DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="Member.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Member.Gender"></label>
        <input asp-for="Member.Gender" class="form-control" />
        <span asp-validation-for="Member.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Member.CitizenshipNumber"></label>
        <input asp-for="Member.CitizenshipNumber" class="form-control" />
        <span asp-validation-for="Member.CitizenshipNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Member.Nationality"></label>
        <input asp-for="Member.Nationality" class="form-control" />
        <span asp-validation-for="Member.Nationality" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Member.CitizenshipIssueDistrict"></label>
        <input asp-for="Member.CitizenshipIssueDistrict" class="form-control" />
        <span asp-validation-for="Member.CitizenshipIssueDistrict" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Member.MobileNumber"></label>
        <input asp-for="Member.MobileNumber" class="form-control" />
        <span asp-validation-for="Member.MobileNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Member.Email"></label>
        <input asp-for="Member.Email" class="form-control" type="email" />
        <span asp-validation-for="Member.Email" class="text-danger"></span>
    </div>
    <hr />


    @* Permanent Address (AddressFormViewModel) *@
    <h4>Permanent Address</h4>
    <div class="form-group">
        <label asp-for="PermanentAddress.SelectedProvince"></label>
        <input asp-for="PermanentAddress.SelectedProvince" class="form-control" />
        <span asp-validation-for="PermanentAddress.SelectedProvince" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PermanentAddress.SelectedDistrict"></label>
        <input asp-for="PermanentAddress.SelectedDistrict" class="form-control" />
        <span asp-validation-for="PermanentAddress.SelectedDistrict" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PermanentAddress.Municipality"></label>
        <input asp-for="PermanentAddress.Municipality" class="form-control" />
        <span asp-validation-for="PermanentAddress.Municipality" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PermanentAddress.Ward"></label>
        <input asp-for="PermanentAddress.Ward" class="form-control" type="number" />
        <span asp-validation-for="PermanentAddress.Ward" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PermanentAddress.Tole"></label>
        <input asp-for="PermanentAddress.Tole" class="form-control" />
        <span asp-validation-for="PermanentAddress.Tole" class="text-danger"></span>
    </div>

    <hr />

    <h4>Temporary Address (if different)</h4>

    <div class="form-group">
        <label asp-for="TemporaryAddress.SelectedProvince"></label>
        <input asp-for="TemporaryAddress.SelectedProvince" class="form-control" />
        <span asp-validation-for="TemporaryAddress.SelectedProvince" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TemporaryAddress.SelectedDistrict"></label>
        <input asp-for="TemporaryAddress.SelectedDistrict" class="form-control" />
        <span asp-validation-for="TemporaryAddress.SelectedDistrict" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TemporaryAddress.Municipality"></label>
        <input asp-for="TemporaryAddress.Municipality" class="form-control" />
        <span asp-validation-for="TemporaryAddress.Municipality" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TemporaryAddress.Ward"></label>
        <input asp-for="TemporaryAddress.Ward" class="form-control" type="number" />
        <span asp-validation-for="TemporaryAddress.Ward" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TemporaryAddress.Tole"></label>
        <input asp-for="TemporaryAddress.Tole" class="form-control" />
        <span asp-validation-for="TemporaryAddress.Tole" class="text-danger"></span>
    </div>

    <hr />
    <hr />

    @* Bank Details (BankDetailFormViewModel) *@
    <h4>Bank Details</h4>
    <div class="form-group">
        <label asp-for="BankDetails.BankName"></label>
        <input asp-for="BankDetails.BankName" class="form-control" />
        <span asp-validation-for="BankDetails.BankName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BankDetails.AccountNumber"></label>
        <input asp-for="BankDetails.AccountNumber" class="form-control" />
        <span asp-validation-for="BankDetails.AccountNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BankDetails.Branch"></label>
        <input asp-for="BankDetails.Branch" class="form-control" />
        <span asp-validation-for="BankDetails.Branch" class="text-danger"></span>
    </div>

    <hr />

    @* Other Details (OtherDetailsFormViewModel) *@
    <h4>Other Details</h4>
    <div class="form-group">
        <label asp-for="OtherDetails.FatherName"></label>
        <input asp-for="OtherDetails.FatherName" class="form-control" />
        <span asp-validation-for="OtherDetails.FatherName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OtherDetails.MotherName"></label>
        <input asp-for="OtherDetails.MotherName" class="form-control" />
        <span asp-validation-for="OtherDetails.MotherName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OtherDetails.GrandFatherName"></label>
        <input asp-for="OtherDetails.GrandFatherName" class="form-control" />
        <span asp-validation-for="OtherDetails.GrandFatherName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OtherDetails.SpouseName"></label>
        <input asp-for="OtherDetails.SpouseName" class="form-control" />
        <span asp-validation-for="OtherDetails.SpouseName" class="text-danger"></span>
    </div>

    <hr />

    <h4>Nominee Details</h4>
    <div class="form-group">
        <label asp-for="Nominee.FullName"></label>
        <input asp-for="Nominee.FullName" class="form-control" />
        <span asp-validation-for="Nominee.FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nominee.Relationship"></label>
        <input asp-for="Nominee.Relationship" class="form-control" />
        <span asp-validation-for="Nominee.Relationship" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nominee.CitizenshipNumber"></label>
        <input asp-for="Nominee.CitizenshipNumber" class="form-control" />
        <span asp-validation-for="Nominee.CitizenshipNumber" class="text-danger"></span>




        <div class="form-group">
            <input type="submit" value="Submit KYC" class="btn btn-primary" />
        </div>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}